header
{
    background-color: black;
    color: white;
    text-align: center;
    height: 185px;
}

footer
{
    text-align: center;
}

.grandpa_bot
{
    float: right;
    border: 3px solid black;
}

#dialogue_area
{
    height: 300px;
    border: 3px solid black;
    overflow: auto;
    width: 97%;
    padding: 20px 20px 20px 20px;
}

#query_field
{
    height: 100px;
    border: 3px solid black;
    width: 97%;
    padding: 20px 20px 20px 20px;
    /*font-size: 14px;*/
    /*font-family: Helvetica, Arial, sans-serif;*/
}

#map
{
    width: 99.7%;
    height: 400px;
    border: 3px solid black;
}


@media all and (max-width: 1024px)
{
    .grandpa_bot
    {
        display: none;
    }
