header
{
    background-color: black;
    color: white;
    text-align: center;
    height: 189px;
    font-family: times;
}

body
{
    border: 3px solid black;
    font-family: times;
}

footer
{
    text-align: center;
    font-family: times;
    font-size: 18px;
}

.grandpa_bot
{
    float: left;
}

#dialogue_area
{
    height: 300px;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    font-family: times;
}

#map
{
    height: 400px;
    width: 98%;
    margin: auto;
}

#query_field
{
    height: 100px;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-family: times;
}

#query
{
    font-size: 18px;
    font-family: times;
    height: 30px;
    width: 100%;
    margin-top: 6px;
    padding-top: 4px;
}

@media all and (max-width: 1024px)
{
    .grandpa_bot
    {
        display: none;
    }
