<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>GrandPy Bot</title>
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='img/vieux-robot-fatigue.jpg') }}" alt="GrandPy Bot" class="grandpa_bot" />
            <br />
            <h1>Besoin d'une adresse ? GrandPy Bot est là pour vous !</h1>
            <br />
            <hr/>
            <h3>On dit même qu'il a toujours une petite histoire à raconter ...</h1>
        </header>

        <section>
            <div id="dialogue_area">GrandPy : Bonjour mon ami, as-tu une question pour moi ?<br></div>
            <div id="map"></div>
            <form method="post" action="" id="query_field">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.query.label }}<br>
                    {{ form.query(id="query", cols=200, rows=1, maxlength=200, placeholder=" Salut GrandPy ! Est-ce que tu sais à quelle adresse se trouve la Tour Eiffel ?", autofocus=true) }}
                </p>
            </form>
        </section>

        <footer>
            <h4>Laure MENAUT</h4>
            <a href="https://github.com/lauremenaut/2018_06_04_python_projet_7">Voir le projet sur GitHub</a><br><br>
        </footer>

        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
    </body>
</html>
